
<<<<<<< HEAD
  .containerPush {
    max-width: 400px;
    margin: 0 auto;
  }



  
  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .containerPush {
    background-color: rgba(14, 14, 14, 0.4);
    max-width: 600px;
    margin: 40px auto;
    border: 0 auto;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    border-bottom: 40px;
  }
=======
body {
  background-image: url();
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
>>>>>>> 2000c4946b6e8614976b12de370fa3d492b6e78f

}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 0px 0;
}

a {
  margin: 0;
  display: inline-block;
  padding-left: 20px;
 font-size: 25px;
 color: #ffffff;
 text-decoration: none;
}
nav {
  display: inline-block;
  float: right;
  padding-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


@media (min-width: 768px) {
  
}

<<<<<<< HEAD

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

 h1 {
    margin: 0;
    display: inline-block;
    padding-left: 20px;
   font-size: 25px;
}

nav {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



body {
    background-image: url(https://www.cyrela.com.br/sites/default/files/styles/webp/public/2024-02/destaque-desk%20%281%29.png.webp?itok=dqh5D4mS);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    display: inline-block;
    padding-left: 20px;
}

nav {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


=======
>>>>>>> 2000c4946b6e8614976b12de370fa3d492b6e78f

footer {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  }
  
  footer p {
      text-align: left;
      color: white;
      padding-left: 0%;
  }
  
  .topo a {
      text-decoration: none;
      color: #f6f8fb;
     text-align: right;
  }